*{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    color:black;
}

body {
background-color: rgb(253, 251, 251);
}

header {
top:0;
position: fixed;
background-color: rgb(37, 134, 7);
width: 100%;
color: white;
}

header h1 {
    padding:20px;
    font-size: 30px;
    line-height: 2;
    color:white;
}

nav{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 1px;
    background-color: rgb(24, 94, 24);   
}

nav ul li{
    list-style-type: none;
    display:inline-block;  
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 20px;
    padding: 30px;
    font-size: 20px;
    line-height: 2;
    color:white;
} 

.lista_menu:hover{
    background-color: rgb(18, 70, 6);
}

.listas_aprendizados{
    font-size: 20px;
    line-height: 2;
}

.licoes_a_aprender{
    display:inline-block;
    margin: 45px;
}

main {
    margin-left: 50px;
}

img {
    width: 300px;
    padding-bottom: 20px;
    margin-top: 20px;
    display:block;
}


.buttom {
    background-color: #11a36a;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

#meu_aprendizado {
    float: left;
    max-width: 50%;
    vertical-align: top;
    margin-top: 40px;
    margin-right: 100px;
    text-align: center;
}

#passagem_aprendizado {
        float: right;
        max-width: 30%;
        vertical-align: top;
        margin-top: 40px;
        text-align: center;
}

ul, ol {
    margin-bottom: 20px;
}

p {
    line-height: 2;
}
