* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;

}

body {
  background-color: rgb(253, 251, 251);
}

header {
  top: 0;
  position: fixed;
  background-color: rgb(37, 134, 7);
  width: 100%;
  color: white;
}

header h1 {
  padding: 20px;
  font-size: 30px;
  line-height: 2;
  color: white;
}

nav {
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(24, 94, 24);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  padding: 30px;
  font-size: 20px;
  line-height: 2;
  color: white;
  border-style: none;
  border-top: 0;
}

.lista_menu:hover {
  background-color: rgb(18, 70, 6);
}

.titulo_lista {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
}

img {
  width: 400px;
}

main {
  margin-left: 40px;
}

footer {
  background-color: rgb(24, 94, 24);
  color: white;
  font-size: 20px;
  text-align: center;
}

#experiencias_no_curso , #meu_aprendizado {
  display: inline-block;
  max-width: 45%;
  vertical-align: middle;
  text-align: center;
  margin-top: 40px;
  margin-left: 50px;
}

article h2 {
  text-align: left;
  margin-bottom: 20px;
}

aside {
  color: white;
  background-color: rgb(24, 94, 24);
  padding: 20px;
  text-align: center;
  max-width: 70%;
  margin: auto;
}

table {
  text-align: center;
  margin: 60px;
  border-style: solid;
  border-color: black;
}

table td {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(193, 238, 183);
}

#tabela_titulos {
  font-weight: 600;
}